@font-face {
    font-family: 'pokemon_solidnormal';
    src: url('pokemon_solid-webfont.woff2') format('woff2'),
         url('pokemon_solid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pokemon_hollownormal';
    src: url('pokemon_hollow-webfont.woff2') format('woff2'),
         url('pokemon_hollow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



.pokeLink{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration:none;
    color: yellow;
    white-space: nowrap;
    font-size: 14px;
}
.mainBanner{

    border-style: solid;
    border-width: 5px;
    border-color: yellow;
    margin-bottom: 5px;
    

    background-color: black;
    text-align: center;
    font-family: "pokemon_hollownormal";
    color: yellow;
    font-size: 42px;

}
.pokeText{
    font-family: "pokemon_solidnormal";
    text-align:center;
    display: block;
    

}


.pokeContainer{
    margin: 16px;

    border-style: solid;
    border-width: 5px;
    border-color: yellow;
    width:160;
    max-width: 160;
    height: 160;
    max-height: 160;
    background-color: black;
    display: inline-block
}

.pokemonImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pokemonImg:hover{
    
    opacity: 0.5;
}

#poke-display{
    border-style: solid;
    border-width: 5px;
    border-color: yellow;
    background-color: red;
}

.searchbar{
    display: inline-block;
    position: absolute;
    top: 25px;
    margin-left: 30px;
}

input[type="text"],textarea{
    font-family: "pokemon_solidnormal";
    color: yellow;
    font-size: 30px;;
    border: none;
    background-color:red;

}






.mainPokeImage{
    height: 512px;
    width: 512px;

    object-fit: fill;


}

.imageContainter{

    width: 512px;
    height: 512px;
    margin: 0 auto;


    border: solid 8px black;

}

#pokeDescription{
    font-family: "pokemon_solidnormal";
    padding: 10px;
    border: solid 4px yellow;
    background-color: black;
    margin: 10 auto;
    width: 512px;
    text-align: center;

    font-size: 30px;



    color: yellow;

}


#pokeName{
    font-family: "pokemon_solidnormal";
    padding: 10px;
    border: solid 4px yellow;
    background-color: black;
    margin: 10 auto;
    width: 300px;
    text-align: center;

    font-size: 30px;



    color: yellow;


}