@font-face {
    font-family: 'pokemon_solidnormal';
    src: url('pokemon_solid-webfont.woff2') format('woff2'),
         url('pokemon_solid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pokemon_hollownormal';
    src: url('pokemon_hollow-webfont.woff2') format('woff2'),
         url('pokemon_hollow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



.pokeLink{
    margin-left: auto;
    margin-right: auto;
    text-decoration:none;
    color: yellow;
    white-space: nowrap;
    font-size: 24px;
}
.mainBanner{

    border-style: solid;
    border-width: 5px;
    border-color: yellow;
    margin-top: auto;
    margin-bottom: 5px;
    

    background-color: black;
    text-align: center;
    font-family: "pokemon_hollownormal";
    color: yellow;
    font-size: 42px;

}
.pokeText{
    font-family: "pokemon_solidnormal";
    text-align:center;
    display: block;
    

}


.pokeContainer{
    
    margin: 16;
    vertical-align: top;
    border-style: solid;
    border-width: 3px;
    border-color: yellow;
    width:225;
    /*max-width: 160;*/
    height: 225;
   /* max-height: 160;*/
    background-color: #380a0a;
    display: inline-block;
}
.favButton{
    display: inline-block;
    
    width: 25px;
    height: 25px;
    opacity: 0.7;
    margin-top: 10px;
    margin-left: 100px;






}

.favButton:hover{
    opacity: 1;

}
.pokemonImg{

    

    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pokemonImg:hover{
    
    opacity: 0.5;
}

#poke-display{
    border-style: solid;
    border-width: 5px;
    border-color: yellow;
    background-color: black;
}

.searchbar{
    display: inline-block;
    

    margin-left: auto;
}
#searchButton{
    font-family: "pokemon_solidnormal";
    background-color: black;
    border: solid 2px yellow;
    color: yellow;
    font-size: 20px;


}

#searchButton:hover{
    opacity: 0.5;
    cursor: pointer;
}

input[type="text"],textarea{
    font-family: "pokemon_solidnormal";
    color: yellow;
    font-size: 30px;;
    border: none;
    border: solid 2px yellow;
    background-color:red;

}
.compareBanner{
    z-index: 10;
    top: 0;
    position: sticky;
    background-color: black;
    text-align: center;
    border: solid 4px yellow;
    margin: 10 auto;
}

.compareImg{
    display: inline-block;
    background-color: #380a0a;

    height: 256px;
    width: 256px;
    border: solid 5px yellow;
    margin: 10 20;



}
.vsLogo{
    
}

#bannerButton{
    display: inline-block;
    font-family: "pokemon_solidnormal";
    background-color: black;
    border: solid 2px yellow;
    color: yellow;
    font-size: 20px;
    width: 128px;
    height: 64px;
    vertical-align: 128px;


}

#bannerButton:hover{
    opacity: 0.5;
    cursor: pointer;
}

.mainPokeImage{
    height: 512px;
    width: 512px;

    object-fit: fill;


}

.imageContainter{
    background-color: grey;
    width: 512px;
    height: 512px;
    margin: 0 auto;


    border: solid 8px black;

}

#pokeDescription{
    font-family: "pokemon_solidnormal";
    font-weight: 100;
    padding: 10px;
    border: solid 4px yellow;
    background-color: black;
    margin: 10 auto;
    width: 512px;
    text-align: center;

    font-size: 30px;



    color: yellow;

}


#pokeName{
    font-family: "pokemon_solidnormal";
    font-weight: 100;
    padding: 10px;
    border: solid 4px yellow;
    background-color: black;
    margin: 10 auto;
    width: 300px;
    text-align: center;

    font-size: 30px;



    color: yellow;


}

#stats-table{
    width: 512px;
    margin: 10 auto;
    text-align: center;


}

#poke-table{
    font-weight: 100;
    text-align: center;
    font-family: "pokemon_solidnormal";
    border: solid 4px yellow;
    width: 512px;
    table-layout: auto;
    padding: 10px;

    background-color: black;
    color: yellow;
}

#poke-table th {
    font-weight: 100;
    border: solid 4px yellow;

}

#pokeHeader{
    font-size: 25px;
    


}

#statsRow{
    font-size: 25px;
    font-weight: 100;

}

#statText{
    font-weight: 100;
    background-color: black;
    color: yellow;
    font-size: 30px;

}

/* COMPARE PAGE*/

#compareContainer1{
    display: inline-block;
    margin-left: 200px;

}
#compareContainer2{
   display: inline-block;
   margin-left: 100px;
   vertical-align: 64px;
   

}
#vsLogoCompare{
    margin-left: 750px;
}

#nameContainerCompare{


    display: block;
    width: 128px;
    margin-left: 64px;
    

    font-family: "pokemon_solidnormal";
    font-weight: 100;
    padding: 2px;
    border: solid 4px yellow;
    background-color: black;
    text-align: center;

    font-size: 20px;



    color: yellow;

}

#compareTable{
    

    margin-left: 100px;
    vertical-align: 64px;


    display: inline-block;

    font-weight: 20;

    font-family: "pokemon_solidnormal";
    border: solid 4px yellow;
    background-color: black;
    color: yellow;



}

#compareTable th{
    padding: 12px;
    border: solid 4px yellow;
}